<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42C9AB861DEC7677005D65D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C9AB9F1DEC7677005D65D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C9ABAA1DEC7677005D65D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
